/* * {
    font-family: monospace;
    border: 1px solid red;
} */

body {
    font-size: 22px;
}

main {
    font-family: monospace;
}

button, input, textarea, select {
    font: inherit;
}

h1, h2 {
    color: blue;
}

p {
    color: purple!important;
}

/* use !important flag to make it override the style */
p {
    color: red;
    /* border: 1px solid red; */
}
.highlight {
    text-transform: uppercase;
    background-color: gold;
}

.gray {
    color: gray;
}

#second {
    font-style: italic;
}